gesture,rgb_color
Swiping Up,"rgb(197, 176, 213)"
Swiping Down,"rgb(152, 223, 138)"
Swiping Left,"rgb(174, 199, 232)"
Swiping Right,"rgb(196, 156, 148)"
Thumb Up,"rgb(255, 127, 14)"
Thumb Down,"rgb(214, 39, 40)"
Pushing Two Fingers Away,"rgb(140, 86, 75)"
Pulling Two Fingers In,"rgb(148, 103, 189)"
Turning Hand Counterclockwise,"rgb(255, 187, 120)"
Turning Hand Clockwise,"rgb(255, 152, 150)"
Zooming In With Two Fingers,"rgb(31, 119, 180)"
Zooming Out With Two Fingers,"rgb(44, 160, 44)"
Others,"rgb(99, 99, 99)"